<a href="https://colab.research.google.com/github/ARMALVES/Portif-lio/blob/master/Introdu%C3%A7%C3%A3o_ao_Pandas_(Dados_Banco_Santander).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# by **Anselmo Alves**

#### **Data Science na Prática 2.0**
*by [Anselmo Alves](https://github.com/ARMALVES)*

---

# Introdução - Primeiros códigos no Pandas

* Extrai informações estatísticas
  * Qual a média, mediana, valores máximos e mínimos?
  * Qual é a distribuição das suas variáveis?
  * Qual a correlação entre duas variáveis quaisquer?
* Exportar os dados para um novo formato de arquivo
* Visualizar gráficos dos mais diferentes tipos
* Alimentar modelos de *machine learning* feitos em cima do Scikit-learn

In [0]:
# importando o pacote pandas
import pandas as pd

In [0]:
# importando os dados do Banco Santader
df = pd.read_csv('https://raw.githubusercontent.com/ARMALVES/Portif-lio/master/BSBR.csv')

In [35]:
df

           Date   Open   High    Low  Close  Adj Close   Volume
0    2019-06-17  11.07  11.27  11.02  11.06  10.368899   717200
1    2019-06-18  11.19  11.50  11.17  11.45  10.734529  1334500
2    2019-06-19  11.39  11.60  11.36  11.58  10.856406  1638100
3    2019-06-20  11.77  11.95  11.75  11.88  11.137659   475700
4    2019-06-21  11.78  11.99  11.74  11.80  11.062659   958300
..          ...    ...    ...    ...    ...        ...      ...
246  2020-06-08   6.43   6.74   6.40   6.74   6.740000  1460700
247  2020-06-09   6.47   6.69   6.35   6.54   6.540000  1748800
248  2020-06-10   6.58   6.59   6.24   6.24   6.240000  1556600
249  2020-06-11   5.70   5.91   5.56   5.65   5.650000  1385000
250  2020-06-12   5.88   6.08   5.79   5.98   5.980000  1758700

[251 rows x 7 columns]

In [39]:
# verificando tipos da variável df
type(df)

pandas.core.frame.DataFrame

In [42]:
# verificando o tipo da coluna (series) da variável
#df.dtypes
type(df['Open'])

pandas.core.series.Series

# Verificando as Dimensões do DataFrame

In [49]:
# ver o tamanho do DataFrame (formato)
df.shape

(251, 7)

In [51]:
# verificando as 5 primeiras linhas do DataFrame
df.head()

         Date   Open   High    Low  Close  Adj Close   Volume
0  2019-06-17  11.07  11.27  11.02  11.06  10.368899   717200
1  2019-06-18  11.19  11.50  11.17  11.45  10.734529  1334500
2  2019-06-19  11.39  11.60  11.36  11.58  10.856406  1638100
3  2019-06-20  11.77  11.95  11.75  11.88  11.137659   475700
4  2019-06-21  11.78  11.99  11.74  11.80  11.062659   958300

In [55]:
# verificando as 5 últimas linhas do DataFrame
df.tail()

           Date  Open  High   Low  Close  Adj Close   Volume
246  2020-06-08  6.43  6.74  6.40   6.74       6.74  1460700
247  2020-06-09  6.47  6.69  6.35   6.54       6.54  1748800
248  2020-06-10  6.58  6.59  6.24   6.24       6.24  1556600
249  2020-06-11  5.70  5.91  5.56   5.65       5.65  1385000
250  2020-06-12  5.88  6.08  5.79   5.98       5.98  1758700

In [57]:
# verificando apenas os nomes das colunas
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [106]:
# escolhendo colunas específicas com pandas
open_close = df[['Open','Close','Adj Close','Volume']]
open_close.head()

    Open  Close  Adj Close   Volume
0  11.07  11.06  10.368899   717200
1  11.19  11.45  10.734529  1334500
2  11.39  11.58  10.856406  1638100
3  11.77  11.88  11.137659   475700
4  11.78  11.80  11.062659   958300

In [61]:
# verificando os tipos dos dados
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       251 non-null    object
 1   Open       251 non-null    float64
 2   High       251 non-null    float64
 3   Low        251 non-null    float64
 4   Close      251 non-null    float64
 5   Adj Close  251 non-null    float64
 6   Volume     251 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.9+ KB

In [64]:
# selecionando uma coluna (Series) específica
df['Low']
# podemos usar também df.Low se a coluna for palavra simples e não composta

0      11.02
1      11.17
2      11.36
3      11.75
4      11.74
       ...
246     6.40
247     6.35
248     6.24
249     5.56
250     5.79
Name: Low, Length: 251, dtype: float64

In [74]:
# calculando a média da coluna
df['Low'].mean()
# também pode ser usada dessa maneira se o nome da coluna não for composta
#df.Low.mean()

9.198924302788846

# **Trabalhando com DataTimes**

In [75]:
# dados originais
df.Date

0      2019-06-17
1      2019-06-18
2      2019-06-19
3      2019-06-20
4      2019-06-21
          ...
246    2020-06-08
247    2020-06-09
248    2020-06-10
249    2020-06-11
250    2020-06-12
Name: Date, Length: 251, dtype: object

In [0]:
# convertendo coluna Date para datetime
df.Date = pd.to_datetime(df.Date, format="%Y-%m-%d")

In [80]:
# dados convertidos
df.Date

0     2019-06-17
1     2019-06-18
2     2019-06-19
3     2019-06-20
4     2019-06-21
         ...
246   2020-06-08
247   2020-06-09
248   2020-06-10
249   2020-06-11
250   2020-06-12
Name: Date, Length: 251, dtype: datetime64[ns]

In [81]:
# manipulando os dados tipo datetime
df.Date.dt.year

0      2019
1      2019
2      2019
3      2019
4      2019
       ...
246    2020
247    2020
248    2020
249    2020
250    2020
Name: Date, Length: 251, dtype: int64

In [82]:
df.Date.dt.month

0      6
1      6
2      6
3      6
4      6
      ..
246    6
247    6
248    6
249    6
250    6
Name: Date, Length: 251, dtype: int64

In [84]:
df.Date.dt.day

0      17
1      18
2      19
3      20
4      21
       ..
246     8
247     9
248    10
249    11
250    12
Name: Date, Length: 251, dtype: int64

In [85]:
df.Date.dt.weekofyear

0      25
1      25
2      25
3      25
4      25
       ..
246    24
247    24
248    24
249    24
250    24
Name: Date, Length: 251, dtype: int64

In [97]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')